<!DOCTYPE html>
<html>
  <head>
    <title>ShabonDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'main' %>
  </head>
  <div id="main"></div>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
  </body>
</html>
